[Unit]
Description= Plays Rick dialogues

[Service]
ExecStart=/home/pi/aiystuff/src/examples/RickSounds/rick2.py

[Install]
WantedBy=multi-user.target
